---
title: hack.institute - Press
---

%h1 Press

%small 
  %a{:href => "/"} hack.institute
  >
  %a{:href => "/press"} Press

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb ...
          %ul
            %li Press Coverage
            %li Press Clippings
            %li All Press Releases
%section#who-should-come
  #w
    .container
      .row
        .col-md-12
          %h3.mb For the Community
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?
%section#who-should-come
  #g
    .container
      .row
        .col-md-12
          %h3.mb For Corporates
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?