---
title: hack.institute - Press
---

%h1 Press

%small 
  %a{:href => "/"} hack.institute
  >
  %a{:href => "/press"} Press

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb Press Releases
          %ul
            %li 
              %a{:href => "/press/press-coverage.html"} Press Coverage
            %li 
              %a{:href => "/press/press-clippings.html"} Press Clippings
            %li 
              %a{:href => "/press/press-releases.html"} All Press Releases
            %li
              %a{:href => "http://hack.institute/en/press/"} Press at http://hack.institute