---
title: hack.institute - All Press Realeses
---

%h1 All Press Releases

%small 
  %a{:href => "/"} hack.institute
  >
  %a{:href => "/press"} Press
  >
  %a{:href => "/press/press-releases.html"} All Press Releases

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb ...
          %ul
            %li Press Release #1
            %li Press Release #2
            %li Press Release #3
            %li Press Release #4
            %li Press Release #...
%section#who-should-come
  #w
    .container
      .row
        .col-md-12
          %h3.mb For the Community
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?
%section#who-should-come
  #g
    .container
      .row
        .col-md-12
          %h3.mb For Corporates
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?