---
title: hack.institute - Press Coverage
---

%h1 Press Coverage

%small 
  %a{:href => "/"} hack.institute
  >
  %a{:href => "/press"} Press
  >
  %a{:href => "/press/press-coverage.html"} Press Coverage

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb Press Coverage
          %p What others saying