---
title: hack.institute - Press Clippings
---

%h1 Press Clippings

%small 
  %a{:href => "/"} hack.institute
  >
  %a{:href => "/press"} Press
  >
  %a{:href => "/press/press-clippings.html"} Press Clippings

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb Clippings from Events
          %p What others saying - Screenshots, etc.