---
title: hack.institute - Press Release #1
---

%h1 Press Release #1

%small 
  %a{:href => "/"} hack.institute
  >
  %a{:href => "/press"} Press
  >
  %a{:href => "/press/press-release-1.html"} Press Release #1

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb A Press Release #1
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?
          %p
            %a{:href => "/press/press-releases.html"} All Press Releases          