
<!-- ********** TESTIMONIALS ********** -->
<section class="testimonials">
  <div class="container">
    <div class="row">
      <h3 class="mtb">Testemonials</h3>        
      <div class="col-sm-12 section-bg-grey centered">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="col-md-4 centered">
                <img src="assets/img/ui-01.jpg" height="240" width="240" class="img-circle" alt="name">
              </div>
              <div class="col-md-6">
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quis ab saepe, aliquam debitis iusto sapiente repellendus. Iure maiores architecto temporibus saepe, facere asperiores, doloribus facilis assumenda dolores eveniet libero.</h3>
                <h5><tgr>Sebastian Deutsch</tgr></h5>
              </div>
            </div>
            <div class="item">
              <div class="item active">
                <div class="col-md-4 centered">
                  <img src="assets/img/ui-02.jpg" height="240" width="240" class="img-circle" alt="drobert-basic">
                </div>
                <div class="col-md-6">
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero quod facilis architecto laborum dolorem quisquam ad nemo officia. Labore asperiores tempore totam obcaecati, provident maiores accusantium illum maxime ullam minima?</h3>
                  <h5><tgr>Tim Schneider</tgr></h5>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="item active">
                <div class="col-md-4 centered">
                  <img src="assets/img/ui-03.jpg" height="240" width="240" class="img-circle" alt="drobert-basic">
                </div>
                <div class="col-md-6">
                  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptatum dignissimos quia, laboriosam voluptas consequatur iste asperiores perferendis beatae, non quidem, totam facilis expedita aperiam iusto reiciendis facere minus! Nisi?</h3>
                  <h5><tgr>Postbank</tgr></h5>
                </div>
              </div>
            </div>
          </div>
        </div><!--/Carousel-->
      </div><!--/col-sm-6-->
    </div><!--/row-->
  </div><!--/container-->
</section><!--/testimonials-->
