---
title: hack.institute - Event Portfolio
---

%h1 Event Portfolio (hack.institute)

%small 
  %a{:href => "/"} hack.institute
  >
  %a{:href => "/hackathons"} Event Portfolio

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb Different Event & Hakcathon Formats
          %ul
            %li 3 Day Hackathon
            %li 2 Day Hackathon
            %li ...
            %li ...
%section#who-should-come
  #w
    .container
      .row
        .col-md-12
          %h3.mb For the Community
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?
%section#who-should-come
  #g
    .container
      .row
        .col-md-12
          %h3.mb For Corporates
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?