---
title: hack.institute - Corporate Contact
---

%h1 Corporate Contact (corporates.hack.institute)

%small 
  %a{:href => "/"} agency.hack.institute
  >
  %a{:href => "/corporates"} Corporates 
  >
  %a{:href => "/corporates/contact.html"} Contact

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb Contact (Corporates)
          %ul
            %li Contact Form
            %li Why do you want to contact us?
            %li Dropdown
          %form#contact_form{:action => "#", :enctype => "multipart/form-data", :method => "POST"}
            .row
              %label{:for => "name"} Your name:
              %br
              %input#name.input{:name => "name", :size => "30", :type => "text", :value => ""}
              %br
            .row
              %label{:for => "email"} Your email:
              %br
              %input#email.input{:name => "email", :size => "30", :type => "text", :value => ""}
              %br
            .row
              %label{:for => "message"} Your message:
              %br
              %textarea#message.input{:cols => "30", :name => "message", :rows => "7"}
              %br
            %input#submit_button{:type => "submit", :value => "Send email"}