---
title: hack.institute - Corporate Education
---

%h1 Corporate Education (corporates.hack.institute)

%small 
  %a{:href => "/"} agency.hack.institute
  >
  %a{:href => "/corporates"} Corporates 
  >
  %a{:href => "/corporates/corporate-education.html"} Corporate Education

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb Internal view
          %p 
            %a{:href => "/education/workshops.html"}
          %p
            %ul
              %li UX in Produktionsprozessen
              %li Mittelstand als Zielgruppe
              %li Interne Hackathon
              %li Innovation == Mindset
              %li Digital Innovation - Strategy - Organisation Process - Cultural shift
              %li Einen Hack.institute Prozess definieren
              %li Innovation & Culture
              %li Developer Relations AKA Formats -> 4hv, Meetups, Hackathons, etc.
              %li Prototyping
              %li Bootcamp
              %li Disrupt your Company from intern
%section#who-should-come
  #w
    .container
      .row
        .col-md-12
          %h3.mb External view
          %p 
            %ul 
              %li Community
              %li ...

%section#who-should-come
  #g
    .container
      .row
        .col-md-12
          %h3.mb For Corporates
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?