---
title: hack.institute - Hackathons
---

%h1 Hackathons (corporates.hack.institute)

%small 
  %a{:href => "/"} agency.hack.institute
  >
  %a{:href => "/corporates"} Corporates 
  >
  %a{:href => "/corporates/hackathons.html"} Hackathons

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb Hackathons
          %ul
            %li Internal / External
            %li 
              %a{:href => "/hackathon"} Formats
%section#who-should-come
  #w
    .container
      .row
        .col-md-12
          %h3.mb External view
          %p 
            %ul 
              %li 
                %a{:href => "/community"} Community
              %li ...
%section#who-should-come
  #g
    .container
      .row
        .col-md-12
          %h3.mb For Corporates
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?