---
title: hack.institute - Corporates
---

%h1 Corporates (agency.hack.institute)

%small 
  %a{:href => "/"} agency.hack.institute
  >
  %a{:href => "/corporates"} Corporates

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb We connect creative minds and doers with startups and corporates.
          %ul
            %li 
              %a{:href => "/corporates/corporate-innovation.html"} Corporate Innovation
            %li
              %a{:href => "/corporates/competences.html"} Competences            
              