---
title: hack.institute - Corporates
---

%h1 Corporates (agency.hack.institute)

%small 
  %a{:href => "/"} agency.hack.institute
  >
  %a{:href => "/corporates"} Corporates

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb We connect creative minds and doers with startups and corporates.
          %ul
            %li 
              %a{:href => "/corporates/corporate-innovation.html"} Corporate Innovation
            %li
              %a{:href => "/corporates/competences.html"} Competences  
%section#who-should-come
  #g
    .container
      .row
        .col-md-12
          %h3.mb For Corporates
          %p At Hack.institute we are experienced experts in everything around hackathons and innovation camps. We take great pride in creating the best experiences for our clients, and with our dedication to greatness we always deliver on that promise!
          %p We offer a wide range of workshop formats and hackathons that can be customized to every thinkable setting and need – an office space, a boat, corporate events, universities, schools, a family party? Okay, maybe not a family party, but everything else. Underneath you can see some of out flagship events.
          %p WE’RE OFFERING DIFFERENT KIND OF EVENTS, HACKATHONS AND FUN FORMATS.