---
title: hack.institute - Education
---

%h1 Education (education.hack.institute)

%small 
  %a{:href => "/"} education.hack.institute
  >
  %a{:href => "/education"} Education

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb We connect creative minds and doers with startups and corporates.
          %ul
            %li
              %a{:href => "/education/background.html"} Background