---
title: hack.institute - Science Labs
---

%h1 Education - Science Labs

%small 
  %a{:href => "/"} education.hack.institute
  >
  %a{:href => "/education"} Education
  >
  %a{:href => "/education/universities-and-schools.html"} Science Labs

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb Universities & Schools
          %ul
            %li Redefining Education
            %li University Profiles
            %li Hack Institute Science Labs
            %li Background
            %li Connecting Universities
            %li Connecting Schools
%section#who-should-come
  #w
    .container
      .row
        .col-md-12
          %h3.mb For the Community
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?
%section#who-should-come
  #g
    .container
      .row
        .col-md-12
          %h3.mb For Corporates
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?