---
title: hack.institute - Education Workshops
---

%h1 Education - Workshops

%small 
  %a{:href => "/"} education.hack.institute
  >
  %a{:href => "/education"} Education
  >
  %a{:href => "/education/background.html"} Workshops

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb Workshops
          %ul
            %li Digital, Code, Experience
            %li Surf & Code Camp
            %li Mixed Workshops - UX + Code etc.
            %li Ferienlager / Youth
            %li Corporate Education / Trainings / Emerging Tech Topics / Mentoring / Bootcamps
%section#who-should-come
  #w
    .container
      .row
        .col-md-12
          %h3.mb For the Community
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?
%section#who-should-come
  #g
    .container
      .row
        .col-md-12
          %h3.mb For Corporates
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?