#copyright
  .container
    .row
      .col-md-2
        %h4 © by hack.institute 2017
      .col-md-2
        %p.alignright
          %a{:href => "http://twitter.com/hackinstitute"}
            %i.ion-social-twitter
          %a{:href => "#"}
            %i.ion-social-instagram
          %a{:href => "#"}
            %i.ion-social-flickr
          %a{:href => "#"}
            %i.ion-social-pinterest
          %a{:href => "#"}
            %i.ion-social-youtube
          %a{:href => "#"}
            %i.ion-social-meetup
          %a{:href => "#"}
            %i.ion-social-slack
          %a{:href => "http://fb.com/hackinstitute"}
            %i.ion-social-facebook
          %a{:href => "http://github.com/hackinstitute"}
            %i.ion-social-github
    .row
      .col-md-2
        hack.institute
        An der Bottmühle 5
        50678 Cologne, Germany
        
        tel: +49 (0)1791353539
        info@hack.institute
        http://hack.institute
      .col-md-1
        %ul.alignright.white
          %li
            %b Legal Stuff
          %li
            %a{:href => "#"} Impressum
          %li
            %a{:href => "#"} AGB
      .col-md-1
        %ul.alignright.white
          %li
            %b About hack.institute
          %li
            %a{:href => "#"} Blog
          %li
            %a{:href => "#"} Team
          %li
            %a{:href => "#"} Jobs
          %li
            %a{:href => "#"} Contact
          %li
            %a{:href => "#"} Press
          %li
            %a{:href => "#"} Mediakit
          %li
            %a{:href => "#"} Newsletter
      .col-md-2
        %ul.alignright.white
          %li
            %b Community
          %li
            %a{:href => "#"} Hackathons
          %li
            %a{:href => "#"} Workshops
          %li
            %a{:href => "#"} Meetups
          %li
            %a{:href => "#"} Online Challanges
          %li
            %a{:href => "#"} Be an Ambassador
      .col-md-2
        %ul.alignright.white
          %li
            %b Education
          %li
            %a{:href => "#"} Workshops
      .col-md-2
        %ul.alignright.white
          %li
            %b Corporates
          %li
            %a{:href => "#"} Hackathon Formats
          %li
            %a{:href => "#"} Job-Postings
          %li
            %a{:href => "#"} Online Challanges
          %li
            %a{:href => "#"} Innovation Box
          %li
            %a{:href => "#"} Prototyping
          %li
            %a{:href => "#"} The Innovation Newsletter
          %li
            %a{:href => "#"} Innovation Services
          %li
            %a{:href => "#"} Internal Workshops
      .col-md-2
        %ul.alignright.white
          %li
            %b Press & Media
          %li
            %a{:href => "#"} Mediakit
          %li
            %a{:href => "#"} Our Font - The Code
      .col-md-2
        %ul.alignright.white
          %li
            %b Latest Pressreleases
          %li
            %a{:href => "#"} Latest PR release #1
          %li
            %a{:href => "#"} Latest PR release #2
          %li
            %a{:href => "#"} Latest PR release #3
          %li
            %a{:href => "#"} Latest PR release #4