#copyright
  .container
    .row
      .col-md-6
        %h4 © by hack.institute 2017
    .row
      .col-md-4
        hack.institute
        An der Bottmühle 5
        50678 Cologne, Germany
        
        tel: +49 (0)1791353539
        info@hack.institute
        http://hack.institute
      .col-md-2
        %ul.alignright.white
          %li
            %a{:href => "/imprint.html"} Imprint
          %li
            %a{:href => "/toc.html"} Terms and Conditions
      .col-md-2
        %ul.alignright.white
          %li
            %a{:href => "/about"} About hack.institute
          %li
            %a{:href => "/about/team.html"} Team
          %li
            %a{:href => "/about/core-values.html"} Core Values
          %li
            %a{:href => "/about/career.html"} Career
          %li
            %a{:href => "/about/newsletter.html"} Newsletter
      .col-md-2
        %ul.alignright.white
          %li
            %b 
              %a{:href => "/community"} Community
          %li
            %a{:href => "#"} Idea behind the Community
          %li
            %a{:href => "#"} Become an Ambassador
          %li
            %a{:href => "#"} Code of Conduct
          %li
            %em
              %a{:href => "#"} A few more links with the value proposition
          %li
            %em
              %a{:href => "#"} ...            
      .col-md-2
        %ul.alignright.white
          %li
            %b 
              %a{:href => "/education"} Education / Science
          %li
            %a{:href => "#"} Background
          %li
            %a{:href => "#"} Workshops
          %li
            %a{:href => "#"} Connecting Universities
          %li
            %em
              %a{:href => "#"} A few more links with the value proposition
          %li
            %em
              %a{:href => "#"} ...            
    .row
      .col-md-4
        %p.alignright
          %a{:href => "http://twitter.com/hackinstitute"}
            %i.ion-social-twitter
          %a{:href => "http://instagram.com/hack.institute"}
            %i.ion-social-instagram
          %a{:href => "http://flickr.com/photos/hackinstitute"}
            %i.ion-social-flickr
          %a{:href => "https://pinterest.com/hackinstitute/"}
            %i.ion-social-pinterest
          %a{:href => "http://youtube.com/hackinstitute"}
            %i.ion-social-youtube
          %a{:href => "http://fb.com/hackinstitute"}
            %i.ion-social-facebook
          %a{:href => "http://github.com/hackinstitute"}
            %i.ion-social-github
      .col-md-2
        %ul.alignright.white
          %li
            %b 
              %a{:href => "/corporates"} Corporates
          %li
            %a{:href => "#"} Competences            
          %li
            %a{:href => "#"} Portfolio, Clients & Cases
          %li
            %a{:href => "/corporates/corporate-innovation.html"} Corporate Innovation
          %li
            %a{:href => "/corporates/innovation-newsletter.html"} Innovation Newsletter
          %li
            %a{:href => "/corporates/configucator.html"} Configurator
          %li
            %a{:href => "#"} Hackathons            
          %li
            %a{:href => "#"} Ideation & Co-Creation Challenges
          %li
            %a{:href => "#"} Innovation Box
          %li
            %a{:href => "#"} Corporate Education
          %li
            %a{:href => "#"} Contact (Contact Form / Why do you want to contact us?)            
      .col-md-2
        %ul.alignright.white
          %li
            %a{:href => "/blog"} Insights
          %li
            %a{:href => "/blog/articles.html"} Articles
          %li
            %a{:href => "/blog/announcements.html"} Announcements
      .col-md-2
        %ul.alignright.white
          %li
            %b 
              %a{:href => "/media"} Media
          %li
            %a{:href => "/media/mediakit.html"} Mediakit
          %li
            %a{:href => "/media/open-source-code.html"} The Open Source Code
          %li
            %a{:href => "http://flickr.com/photos/hackinstitute"} Pictures
      .col-md-2
        %ul.alignright.white
          %li
            %b 
              %a{:href => "/press"} Press
          %li
            %a{:href => "/press/press-coverage.html"} Press Coverage            
          %li
            %a{:href => "/press/press-clippings.html"} Press Clippings            
          %li          
            %a{:href => "/press/press-release-1.html"} Latest PR release #1
          %li          
            %a{:href => "/press/press-release-2.html"} Latest PR release #2
          %li
            %a{:href => "/press/press-releases.html"} All Press Releases            