<!-- ********** COPYRIGHT ********** -->
<div id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>&copy; by hack.institute 2017</h4>
      </div>
      <div class="col-md-4">
        <p class="alignright">
          <a href="http://twitter.com/hackinstitute"><i class="ion-social-twitter"></i></a>
          <a href="#"><i class="ion-social-instagram"></i></a>
          <a href="#"><i class="ion-social-flickr"></i></a>
          <a href="#"><i class="ion-social-pinterest"></i></a>
          <a href="#"><i class="ion-social-youtube"></i></a>
          <a href="#"><i class="ion-social-meetup"></i></a>
          <a href="#"><i class="ion-social-slack"></i></a>
          <a href="http://fb.com/hackinstitute"><i class="ion-social-facebook"></i></a>
          <a href="http://github.com/hackinstitute"><i class="ion-social-github"></i></a>
        </p>
      </div>
    </div><!--/row-->

    <div class="row">
      <div class="col-md-4">
          hack.institute
          An der Bottmühle 5
          50678 Cologne, Germany

          tel: +49 (0)1791353539
          info@hack.institute
          http://hack.institute
      </div>
      <div class="col-md-1">
        <ul class="alignright white">
          <li><b>Legal Stuff</b></li>
          <li><a href="#">Impressum</a></li>
          <li><a href="#">AGB</a></li>
        </ul>
      </div>
      <div class="col-md-1">
        <ul class="alignright white">
          <li><b>hack.institute</b></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Newsletter</a></li>
        </ul>
      </div>  
      <div class="col-md-2">
        <ul class="alignright white">
          <li><b>For the Community</b></li>
          <li><a href="#">Hackathons</a></li>
          <li><a href="#">Workshops</a></li>
          <li><a href="#">Meetups</a></li>
          <li><a href="#">Online Challanges</a></li>
          <li><a href="#">Be an Ambassador</a></li>
        </ul>
      </div>    
      <div class="col-md-2">
        <ul class="alignright white">
          <li><b>For Corporates</b></li>
          <li><a href="#">Hackathon Formats</a></li>
          <li><a href="#">Job-Postings</a></li>
          <li><a href="#">Online Challanges</a></li>
          <li><a href="#">Innovation Box</a></li>
          <li><a href="#">Prototyping</a></li>
          <li><a href="#">The Innovation Newsletter</a></li>
          <li><a href="#">Innovation Services</a></li>
          <li><a href="#">Internal Workshops</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="alignright white">
          <li><b>Press</b></li>
          <li><a href="#">Latest PR release #1</a></li>
          <li><a href="#">Latest PR release #2</a></li>
          <li><a href="#">Latest PR release #3</a></li>
          <li><a href="#">Latest PR release #4</a></li>
        </ul>
      </div>                              
    </div><!--/row-->

  </div><!--/container-->
</div><!--/copyright-->

