#copyright.grey
  #theFooter
    .container
      .row
        .col-md-6
          %h4 © by hack.institute 2017
      .row
        .col-md-4
          hack.institute
          An der Bottmühle 5
          50678 Cologne, Germany
          
          tel: +49 (0)1791353539
          info@hack.institute
          http://hack.institute
        .col-md-2
          %ul.alignright.white
            %li
              %a{:href => "/imprint.html"} Imprint
            %li
              %a{:href => "/toc.html"} Terms and Conditions
        .col-md-2
          %ul.alignright.white
            %li
              %a{:href => "/about"} About hack.institute
            %li
              %a{:href => "/about/team.html"} Team
            %li
              %a{:href => "/about/core-values.html"} Core Values
            %li
              %a{:href => "/about/career.html"} Career
            %li
              %a{:href => "/about/newsletter.html"} Newsletter
            %li
              %a{:href => "/contact.html"} Contact            
        .col-md-2
          %ul.alignright.white
            %li
              %b 
                %a{:href => "/community"} Community
            %li
              %a{:href => "/community/idea.html"} Idea behind the Community
            %li
              %a{:href => "/community/why-with-corporates.html"} Why we're working with corporates
            %li
              %a{:href => "/community/ambassador.html"} Become an Ambassador
            %li
              %a{:href => "/community/code-of-conduct.html"} Code of Conduct
            %li
              %a{:href => "/community/browse-events.html"} Browse Events
            %li
              %a{:href => "/community/profiles.html"} Profiles
            %li
              %a{:href => "/community/wall-of-fame.html"} Wall of Fame
            %li
              %a{:href => "/community/projects.html"} Projects
            %li
              %a{:href => "/community/tools.html"} Hackathon Tools
            %li
              %a{:href => "/community/best-practices.html"} Best Practices for Hackathon Organizers
            %li
              %a{:href => "/community/hackathon-guide.html"} Hackathon Guide for Hackathon Participants
            %li
              %a{:href => "/community/pitch-kit.html"} The Hackathon Pitch Kit            
            %li
              %a{:href => "/community/nerdy-jobs.html"} Nerdy Jobs
            %li
              %a{:href => "/community/geek-shop.html"} Geek Shop
            %li
              %a{:href => "/community/our-support.html"} Our Support
            %li
              %a{:href => "/community/our-events.html"} Our Events
        .col-md-2
          %ul.alignright.white
            %li
              %b 
                %a{:href => "/education"} Education / Science
            %li
              %a{:href => "/education/background.html"} Background
            %li
              %a{:href => "/education/workshops.html"} Workshops
            %li
              %a{:href => "/education/science-labs.html"} Science Labs
      .row
        .col-md-4
          %p.alignright
            %a{:href => "http://twitter.com/hackinstitute"}
              %i.ion-social-twitter
            %a{:href => "http://instagram.com/hack.institute"}
              %i.ion-social-instagram
            %a{:href => "http://flickr.com/photos/hackinstitute"}
              %i.ion-social-flickr
            %a{:href => "https://pinterest.com/hackinstitute/"}
              %i.ion-social-pinterest
            %a{:href => "http://youtube.com/hackinstitute"}
              %i.ion-social-youtube
            %a{:href => "http://fb.com/hackinstitute"}
              %i.ion-social-facebook
            %a{:href => "http://github.com/hackinstitute"}
              %i.ion-social-github
        .col-md-2
          %ul.alignright.white
            %li
              %b 
                %a{:href => "/corporates"} Corporates
            %li
              %a{:href => "/corporates/competences.html"} Competences            
            %li
              %a{:href => "/corporates/portfolio.html"} Clients & Cases
            %li
              %a{:href => "/corporates/corporate-innovation.html"} Corporate Innovation
            %li
              %a{:href => "/corporates/innovation-newsletter.html"} Innovation Newsletter
            %li
              %a{:href => "/corporates/configucator.html"} Configurator
            %li
              %a{:href => "/corporates/hackathons.html"} Hackathons            
            %li
              %a{:href => "/corporates/crowdsourcing.html"} Ideation & Co-Creation Challenges
            %li
              %a{:href => "/corporates/innovation-box.html"} Innovation Box
            %li
              %a{:href => "/corporates/corporate-education.html"} Corporate Education
            %li
              %a{:href => "/community/jobs.html"} Job Postings            
            %li
              %a{:href => "/corporates/contact.html"} Contact
        .col-md-2
          %ul.alignright.white
            %li
              %a{:href => "/blog"} Insights
            %li
              %a{:href => "/blog/articles.html"} Articles
            %li
              %a{:href => "/blog/announcements.html"} Announcements
        .col-md-2
          %ul.alignright.white
            %li
              %b 
                %a{:href => "/media"} Media
            %li
              %a{:href => "/media/mediakit.html"} Mediakit
            %li
              %a{:href => "/media/open-source-code.html"} The Open Source Code
            %li
              %a{:href => "http://flickr.com/photos/hackinstitute"} Pictures
        .col-md-2
          %ul.alignright.white
            %li
              %b 
                %a{:href => "/press"} Press
            %li
              %a{:href => "/press/press-coverage.html"} Press Coverage            
            %li
              %a{:href => "/press/press-clippings.html"} Press Clippings            
            %li          
              %a{:href => "/press/press-release-1.html"} Latest PR release #1
            %li          
              %a{:href => "/press/press-release-2.html"} Latest PR release #2
            %li
              %a{:href => "/press/press-releases.html"} All Press Releases
  %a{href: "", id: "footer-button"} 
    %b 
      (Development Show/Hide Full Footer)