%nav#theMenu.menu
  .menu-wrap
    %h1.logo
      %a{:href => "/"} hack.institute
    %i.ion-android-close.menu-close
    %a.smoothScroll{:href => "/community"} Community
    %ul
      %li
        %a{:href => "/community/browse-events.html"} Browse Events 
      %li
        %a{:href => "/community/tools.html"} Hackathon Tools
      %li
        %a{:href => "/community/best-practices.html"} Best Practices for Hackathon Organizers
      %li
        %a{:href => "/community/hackathon-guide.html"} Hackathon Guide for Hackathon Participants
      %li
        %a{:href => "/community/pitch-kit.html"} The Hackathon Pitch Kit                           
      %li 
        %a{:href => "/media/open-source-code.html"} The Open Source Code
      %li
        %a{:href => "/community/our-support.html"} Our Support        
      %li 
        %a{:href => "/community/ambassador.html"} Become an Ambassador        
    %a.smoothScroll{:href => "/corporates"} Corporates
    %ul
      %li 
        %a{:href => "/corporates/corporate-innovation.html"} Corporate Innovation
      %li 
        %a{:href => "/corporates/portfolio.html"} Clients & Cases
      %li 
        %a{:href => "/corporates/hackathons.html"} Hackathons
      %li 
        %a{:href => "/corporates/configurator.html"} Configurator
      %li 
        %a{:href => "/corporates/crowdsourcing.html"} Crowdsourcing & Ideation Challenges
      %li 
        %a{:href => "/corporates/innovation-newsletter.html"} Innovation Newsletter
      %li 
        %a{:href => "/corporates/corporate-education.html"} Corporate Education
      %li 
        %a{:href => "/corporates/innovation-box.html"} Innovation Box
      %li 
        %a{:href => "/corporates/contact.html"} Contact hack.institute
    %a.smoothScroll{:href => "/education"} Education
    %ul
      %li 
        %a{:href => "/education/background.html"} Background    
      %li 
        %a{:href => "/education/science-labs"} Science Labs    
      %li 
        %a{:href => "/education/workshops.html"} Workshops
    %a.smoothScroll{:href => "/about/team.html"} Team    
    %a.smoothScroll{:href => "/about/career.html"} Career    
    %a.smoothScroll{:href => "/about/core-values.html"} Core Values
    %a.smoothScroll{:href => "/blog"} Insights    
    %a.smoothScroll{:href => "/media"} Media    
    %a.smoothScroll{:href => "/press"} Press    
  #menuToggle
    %i.ion-home