<!-- Menu -->
<nav class="menu" id="theMenu">
  <div class="menu-wrap">
    <h1 class="logo"><a href="index.html#home">Surf & Code Camp - React Edition</a></h1>
    <i class="ion-android-close menu-close"></i>
    <!--       <a href="#home" class="smoothScroll">Home</a> -->
    <a href="/#info" class="smoothScroll">Idea</a>
    <a href="/#who-should-come" class="smoothScroll">Who should come?</a>
    <a href="/tutors" class="smoothScroll">Tutors</a>
    <a href="/topics_schedule" class="smoothScroll">Topics & Schedule</a>
    <a href="/topics_schedule#hackathon" class="smoothScroll">Hackathon</a>      
    <a href="/hostel" class="smoothScroll">The Hostel</a>
    <a href="/registration" class="smoothScroll">Registration</a>
    <a href="/registration#faq" class="smoothScroll">FAQ</a>
    <a href="/#partner" class="smoothScroll">Partner</a>
    <a href="/#contact" class="smoothScroll">Contact</a>      
  </div>

  <!-- Menu button -->
  <div id="menuToggle"><i class="ion-home"></i></div>
</nav>