<!-- Menu -->
<nav class="menu" id="theMenu">
  <div class="menu-wrap">
    <h1 class="logo"><a href="/">hack.institute</a></h1>
    <i class="ion-android-close menu-close"></i>
    <!--       <a href="#home" class="smoothScroll">Home</a> -->
    <a href="#" class="smoothScroll">For The Community</a>
    <ul>
      <li><a href="/hackathons">Hackatons</a></li>
      <li>Really Nerdy Jobs</li>
      <li>Plattform: Online Challenges</li>
      <li>Campus: Camps, Workshops & Education</li>
      <li>Our Support To The Community (Meetups, etc.)</li>
      <li>Become An Ambassador</li>
      <li>Plattform: Hackable-Gadgets</li>
    </ul>
    <a href="#" class="smoothScroll">For Corporates</a>
    <ul>
      <li>Why hack.institute?</li>
      <li>Hackathon Formats</li>
      <li>Hackathon Configurator</li>
      <li>Job-Postings</li>
      <li>Profiles</li>
      <li>The Plattform & Online Challenges</li>
      <li>The Innovation Box</li>
      <li>Prototyping</li>
      <li>Innovation & Innovation Services</li>
      <li>Plattform: The Innovation Newsletter</li>
      <li>Internal Workshops</li>
      <li>Get In Touch</li>
      <li>Bundesverband.digital</li>
    </ul>   
    <a href="#" class="smoothScroll">Meet The Team</a>      
    <a href="#" class="smoothScroll">Clients & Testimonials</a>      
    <a href="#" class="smoothScroll">PR</a>      
    <a href="#" class="smoothScroll">Media</a>      
    <a href="#" class="smoothScroll">Blog</a>      
    <a href="#" class="smoothScroll">Contact</a>      
    <a href="#" class="smoothScroll">AGB</a>      
    <a href="#" class="smoothScroll">Imprint</a>      
  </div>
  <!-- Menu button -->
  <div id="menuToggle"><i class="ion-home"></i></div>

</nav>