%nav#theMenu.menu
  .menu-wrap
    %h1.logo
      %a{:href => "/"} hack.institute
    %i.ion-android-close.menu-close
    %a.smoothScroll{:href => "/community"} Community
    %a.smoothScroll{:href => "/corporates"} Corporates
    %ul
      %li 
        %a{:href => "/corporates/corporate-innovation.html"} Corporate Innovation
      %li 
        %a{:href => "/corporates/configurator.html"} Configurator
      %li 
        %a{:href => "/corporates/crowdsourcing.html"} Crowdsourcing & Ideation Challenges
    %a.smoothScroll{:href => "/education"} Education
  #menuToggle
    %i.ion-home