%nav#theMenu.menu
  .menu-wrap
    %h1.logo
      %a{:href => "/"} hack.institute
    %i.ion-android-close.menu-close
    %a.smoothScroll{:href => "/community"} Community
    %ul
      %li 
        %a{:href => "/media/open-source-code.html"} The Open Source Code
    %a.smoothScroll{:href => "/corporates"} Corporates
    %ul
      %li 
        %a{:href => "/corporates/corporate-innovation.html"} Corporate Innovation
      %li 
        %a{:href => "/corporates/configurator.html"} Configurator
      %li 
        %a{:href => "/corporates/crowdsourcing.html"} Crowdsourcing & Ideation Challenges
    %a.smoothScroll{:href => "/education"} Education
    %ul
      %li 
        %a{:href => "/education"} ...
      %li 
        %a{:href => "/education"} ...
      %li 
        %a{:href => "/education"} ...
    %a.smoothScroll{:href => "/about/team.html"} Team    
    %a.smoothScroll{:href => "/about/career.html"} Career    
    %a.smoothScroll{:href => "/about/core-values.html"} Core Values
    %a.smoothScroll{:href => "/blog"} Insights    
    %a.smoothScroll{:href => "/media"} Media    
    %a.smoothScroll{:href => "/press"} Press    
  #menuToggle
    %i.ion-home