%nav#theMenu.menu
  .menu-wrap
    %h1.logo
      %a{:href => "/"} hack.institute
    %i.ion-android-close.menu-close
    %a.smoothScroll{:href => "#"} Community
    %a.smoothScroll{:href => "#"} Corporates
    %a.smoothScroll{:href => "#"} Education
  #menuToggle
    %i.ion-home