<!-- Menu -->
<nav class="menu" id="theMenu">
  <div class="menu-wrap">
    <h1 class="logo"><a href="/">hack.institute</a></h1>
    <i class="ion-android-close menu-close"></i>
    <!--       <a href="#home" class="smoothScroll">Home</a> -->
    <a href="#" class="smoothScroll">For the Community</a>
    <a href="#" class="smoothScroll">For Corporates</a>
    <a href="#" class="smoothScroll">Event List</a>
    <a href="#" class="smoothScroll">Education</a>
    <a href="#" class="smoothScroll">Hackathons</a>      
    <a href="#" class="smoothScroll">Prototyping</a>
    <a href="#" class="smoothScroll">Innovation</a>
    <a href="#" class="smoothScroll">Contact</a>      
  </div>

  <!-- Menu button -->
  <div id="menuToggle"><i class="ion-home"></i></div>
</nav>