%meta{:charset => "utf-8"}
%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
%meta{:content => "", :name => "description"}
%meta{:content => "Jan Kus", :name => "author"}
%meta{:content => "", :name => "subject"}
%meta{:content => "", :name => "Description"}
%meta{:content => "", :name => "Classification"}
%meta{:content => "hackathon, designer, entwickler, developer", :name => "Keywords"}
%meta{:content => "German", :name => "Language"}
%meta{:content => "PUBLIC", "http-equiv" => "CACHE-CONTROL"}
%meta{:content => "hack.institute", :name => "Copyright"}
%meta{:content => "Jan Kus", :name => "Designer"}
%meta{:content => "hack.institute", :name => "Publisher"}
%meta{:content => "Global", :name => "distribution"}
%meta{:content => "INDEX,FOLLOW", :name => "Robots"}
%meta{:content => "50678", :name => "zipcode"}
%meta{:content => "Cologne", :name => "city"}
%meta{:content => "Germany", :name => "country"}
%meta{:content => "", :property => "og:title"}
%meta{:content => "website", :property => "og:type"}
%meta{:content => "", :property => "og:url"}
%meta{:content => "", :property => "og:image"}
%meta{:content => "", :property => "og:site_name"}
%meta{:content => "654324008", :property => "fb:admins"}
%meta{:content => "", :property => "og:description"}
%meta{:content => "", :itemprop => "name"}
%meta{:content => "", :itemprop => "description"}
%meta{:content => "", :itemprop => "image"}
%meta{:content => "website", :name => "twitter:card"}
%meta{:content => "@hackinstitute", :name => "twitter:site"}
%meta{:content => "", :name => "twitter:title"}
%meta{:content => "", :name => "twitter:description"}
%meta{:content => "@koos", :name => "twitter:creator"}
%meta{:content => "", :name => "twitter:image"}
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
%link{:href => "assets/img/favicon.ico", :rel => "icon"}
= partial "/shared/meta_favicon"
%title= current_page.data.title || "hack.institute"