---
title: hack.institute - Become an Ambassador
---

%h1 Become an Ambassador (community.hack.institute)

%small 
  %a{:href => "/"} community.hack.institute
  >
  %a{:href => "/community"} Community
  >
  %a{:href => "/community/become-an-ambassador.html"} Become an Ambassador
%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb Content