---
title: hack.institute - Best Practices for Hackathon Organizers
---

%h1 Best Practices for Hackathon Organizers (community.hack.institute)

%small 
  %a{:href => "/"} community.hack.institute
  >
  %a{:href => "/community"} Community
  >
  %a{:href => "/community/best-practices-for-hackathon-organizers.html"} Best Practices for Hackathon Organizers
%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb Content