---
title: hack.institute - Browse Events
---

%h1 Browse Events (community.hack.institute)

%small 
  %a{:href => "/"} community.hack.institute
  >
  %a{:href => "/community"} Community
  >
  %a{:href => "/community/browse-events.html"} Browse Events
%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb We connect creative minds and doers with startups and corporates.