---
title: hack.institute - Code of Conduct
---

%h1 Code of Conduct (community.hack.institute)

%small 
  %a{:href => "/"} community.hack.institute
  >
  %a{:href => "/community"} Community
  >
  %a{:href => "/community/code-of-conduct.html"} Code of Conduct
%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb Content