---
title: hack.institute - Idea behind the Community
---

%h1 Idea behind the Community (community.hack.institute)

%small 
  %a{:href => "/"} community.hack.institute
  >
  %a{:href => "/community"} Community
  >
  %a{:href => "/community/idea.html"} Idea behind the Community

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb We connect creative minds and doers with startups and corporates.
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel laudantium, officia soluta maxime, porro ut vitae fuga unde aperiam assumenda voluptate ipsa, iusto nulla omnis sint labore animi neque, dolorum.