---
title: hack.institute - Our Support for the Community
---

%h1 Our Support for the Community (community.hack.institute)

%small 
  %a{:href => "/"} community.hack.institute
  >
  %a{:href => "/community"} Community
  >
  %a{:href => "/community/our-support-for-the-community.html"} Our Support for the Community
%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb Content