---
title: hack.institute - Hackathon Tools and Guides for Participants
---

%h1 Hackathon Tools and Guides for Participants (community.hack.institute)

%small 
  %a{:href => "/"} community.hack.institute
  >
  %a{:href => "/community"} Community
  >
  %a{:href => "/community/tools-and-guides-for-participants.html"} Hackathon Tools and Guides for Participants

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb Content
          %ul
            %li
              %a{:href => "/community/hackathon-guide.html"} Hackathon Guide Participants
            %li
              %a{:href => "/community/tools.html"} Hackathon Tools for Participants
            %li
              %a{:href => "/community/pitch-kit.html"} The Hackathon Pitch Kit                           
