---
title: hack.institute - Why we are working with corporates
---

%h1 Why we are working with corporates (community.hack.institute)

%small 
  %a{:href => "/"} community.hack.institute
  >
  %a{:href => "/community"} Community
  >
  %a{:href => "/community/why-we-are-working-with-corporates.html"} Why we're working with corporates
%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb We connect creative minds and doers with startups and corporates.