---
title: hack.institute - Announcments
---

%h1 Announcments

%small 
  %a{:href => "/"} hack.institute
  >
  %a{:href => "/insights"} Insights
  >
  %a{:href => "/insights/announcments.html"} Announcments

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb Our Announcemens - Our Announcements / not Press Releases
          %p 
            %b Announcement #1
            %br hey ho lets go!
          %p 
            %b Announcement #2
            %br hey ho lets go!
          %p 
            %b Announcement #3
            %br hey ho lets go!
          %p 
            %b Maybe some Tweets...
            %br ...

