---
title: hack.institute - Insights
---

%h1 Insights

%small 
  %a{:href => "/"} hack.institute
  >
  %a{:href => "/insights"} Insights

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb Our Insights - a Blog with Insights about hack.institute etc.
          %ul
            %li
              %a{:href => "/insights/insights.html"} Our Insights
            %li
              %a{:href => "/insights/articles.html"} Articles
            %li
              %a{:href => "/insights/announcements.html"} Some Announcements