---
title: hack.institute - Contact
---

%h1 Contact (hack.institute)

%small 
  %a{:href => "/"} hack.institute
  >
  %a{:href => "/contact.html"} Contact

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb Contact
          %p
            %ul
              %li Contact Form
              %li Why do you want to contact us?
%section#who-should-come
  #w
    .container
      .row
        .col-md-12
          %h3.mb External view
          %p 
            %ul 
              %li Community
              %li ...

%section#who-should-come
  #g
    .container
      .row
        .col-md-12
          %h3.mb For Corporates
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?