---
title: hack.institute - Imprint
---

%h1 Imprint

%small 
  %a{:href => "/"} hack.institute
  >
  %a{:href => "/imprint.html"} Imprint

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb IMPRINT
          %pre
            © 2016 Made with ♥ in Cologne by hack.institute
            hack.institute UG (haftungsbeschränkt) An der Bottmühle 5, 50678 Cologne, Germany
            Registergericht/district court: Amtsgericht Köln
            Handelsregister/Commercial Register: HRB 86335
            Authorized representative: Jan Kus