---
title: Surf & Code Camp
---

<%= partial "shared/big_header" %>

<!-- ********** STAND OUT / CALL TO ACTION ********** -->
<section id="info">
  <div id="g">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="mb">THE IDEA</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="who-should-come">
  <div id="w">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="mb">WHO SHOULD COME?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="news">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 section-transparent">
        <div class="row">
          <div class="col-sm-9">
          </div>
        </div>
      </div>

      <div class="col-sm-6 section-bg-color">
        <div class="row">
          <div class="col-sm-3 mt">
            <div class="circle-icon">
              <div class="icon icon-ticket"></div>
            </div>
          </div><!--/col-sm-4-->
          <div class="col-sm-9">
            <h5>Get your ticket now!</h5>
            <h3>What's included?</h3>
            <p>React-Knowledge, 7 nights in one of the best hostels, food, surf lessions!</p>
            <p class="mt"><a class="btn btn-conf btn-clear smoothScroll" href="register.html">Get your ticket now!</a></p>
          </div>
        </div><!--/row-->
      </div><!-- /col-sm-6-->
    </div><!--/row -->
  </div><!--/container -->
</section><!--/NEWS -->

<!-- ********** STAND OUT / CALL TO ACTION ********** -->
<section class="news flip">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 section-bg-color">
        <div class="row">
          <div class="col-sm-3 mt">
            <div class="circle-icon">
              <div class="icon icon-award"></div>
            </div>
          </div><!--/col-sm-4-->
          <div class="col-sm-9">
            <h5>The hostel</h5>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, rerum, at. Illum molestias magnam, aliquid exercitationem optio.</p>
            <p class="mt"><a class="btn btn-conf btn-clear smoothScroll" href="hostel.html">More about Nice Away Hostel</a></p>
          </div>
        </div><!--/row-->
      </div><!-- /col-sm-6-->
      <div class="col-sm-6 section-transparent">
        <div class="row">
          <div class="col-sm-9">
          </div>
        </div>
      </div>
    </div><!--/row -->
  </div><!--/container -->
</section><!--/NEWS -->

<%= partial "landingpage/testimonials" %>
<%= partial "landingpage/sponsors" %>
<%= partial "landingpage/map" %>