---
title: hack.institute - We connect creative minds and doers with startups and corporates.
---

%h1 hack.institute - We connect creative minds and doers with startups and corporates.

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb We connect creative minds and doers with startups and corporates.
          %ul
            %li Next Event
            %li Next Events
            %li Next Wokrshops
%section#who-should-come
  #w
    .container
      .row
        .col-md-12
          %h3.mb For the Community
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?
%section#who-should-come
  #g
    .container
      .row
        .col-md-12
          %h3.mb For Corporates
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?
%section#who-should-come
  #g
    .container
      .row
        .col-md-12
          %h3.mb For Education & Science
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?          