---
title: hack.institute - We connect creative minds and doers with startups and corporates.
---

%h1 hack.institute - We connect creative minds and doers with startups and corporates.

%section#info
  #g
    .container
      .row
        .col-md-12
          %h3.mb We connect creative minds and doers with startups and corporates.
          %ul
            %li Next Events
            %li Next Wokrshops
%section#who-should-come
  #w
    .container
      .row
        .col-md-12
          %h3.mb For the Community
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?
          %p
            %a{:href => "/community"} Read more          
%section#who-should-come
  #g
    .container
      .row
        .col-md-12
          %h3.mb For Corporates
          %p At Hack.institute we are experienced experts in everything around hackathons and innovation camps. We take great pride in creating the best experiences for our clients, and with our dedication to greatness we always deliver on that promise!
          %p We offer a wide range of workshop formats and hackathons that can be customized to every thinkable setting and need – an office space, a boat, corporate events, universities, schools, a family party? Okay, maybe not a family party, but everything else. Underneath you can see some of out flagship events.
          %p WE’RE OFFERING DIFFERENT KIND OF EVENTS, HACKATHONS AND FUN FORMATS.
          %p
            %a{:href => "/corporates"} Read more
%section#who-should-come
  #w
    .container
      .row
        .col-md-12
          %h3.mb For Education & Science
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quis sed vel, molestias aperiam dolore culpa, molestiae quas dolorum minus voluptatem nesciunt tempora temporibus error, dolor nobis deserunt eum?          
          %p
            %a{:href => "/education"} Read more                    